<h2>Projets</h2>

<table class="table">
  <thead>
    <tr>
      <th>Projet</th>
      <th>Début</th>
    </tr>
  </thead>
  <tbody>
  <% @student.promotion.courses.each do |course| %>
    <tr class="<%= 'done' if course.done? %><%= 'current' if course.current? %>">
      <td><%= link_to course, course %></td>
      <td><%= course.starting_at.strftime '%d/%m/%Y' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
