<% title = "#{@student}" %>
<% content_for :title do title end %>
<h1><%= title %></h1>

<%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-default' %>
<p id="notice"><%= notice %></p>
<p><%= link_to @student.promotion, @student.promotion %></p>

<pre>
Codecademy:
- Learn the command line (https://www.codecademy.com/fr/learn/learn-the-command-line)         1
- Apprendre Ruby (https://www.codecademy.com/fr/learn/ruby)                                   2
- Learn Ruby on Rails (https://www.codecademy.com/fr/learn/learn-rails)                       2
- Learn git (https://www.codecademy.com/fr/learn/learn-git)                                   1

Codeschool:
- Rails for Zombies Redux (https://www.codeschool.com/courses/rails-for-zombies-redux)        4

Votre compte github:                                                                          1

Le repository github de votre application Ruby on Rails:                                      4

L'url sur Heroku de votre application Ruby on Rails:                                          5


Pour aller plus loin...
... en front
- HTML & CSS (https://www.codecademy.com/fr/learn/web)
- Make a Website (https://www.codecademy.com/fr/learn/make-a-website)
- Apprenez à créer votre site web avec HTML5 et CSS3 (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3)
- Prenez en main Bootstrap (https://openclassrooms.com/courses/prenez-en-main-bootstrap)
... en back
- Participer à un Apéro Ruby (http://www.meetup.com/fr-FR/Ruby-Bordeaux/)
- Participer à un hackaton ou un startup weekend
- Utiliser Code Climate pour devenir un meilleur développeur
- Lire Clean Code (http://ricardogeek.com/docs/clean_code.pdf)
Programme et approche pédagogique en dialogue avec <a href="https://www.lewagon.com/programme" target="_blank">Le Wagon</a>