<%= title 'Promotions' %>
<%= link_to 'Nouvelle promotion', new_admin_promotion_path, class: 'btn btn-default' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Etudiants</th>
    </tr>
  </thead>
  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= link_to promotion, [:admin, promotion] %></td>
        <td><%= promotion.students.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
