@import 'bootstrap'
@import 'font-awesome-sprockets'
@import 'font-awesome'
@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,600'

*
  font-family: 'Work Sans', sans-serif

a
  color: black

.navbar-nav
  font-weight: bold
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 1px


.big-note
  font-size: 60px
  text-align: right

.achievement
  margin-top: 40px
  .is-done 
    font-size: 40px
    .note
      margin-top: 14px
      font-size: 20px
    .checkmark
      margin-right: 10px
      float: left
  .text h2
    margin-top: 0

.correct
  color: green

footer
  margin-top: 50px