@import bootstrap
@import font-awesome

*
  font-family: sans-serif
  font-weight: 300
  text-rendering: optimizeLegibility

a
  color: #004b4c

h1, h2
  font-weight: 300
  text-align: center
  
p
  line-height: 170%

.logo 
  display: block
  height: 80px
  width: 200px
  padding: 15px
  line-height: 20px
  img
    margin-top: -30px
    margin-left: -25px
    margin-right: -25px
    height: 90px
    float: left
  p
    color: white
    float: right
    letter-spacing: 2px
    font-weight: 200
    line-height: 100%
    font-size: 23px
    margin-top: 4px
    text-transform: uppercase
  &.logo-black
    filter: brightness(0)

.navbar-toggle .icon-bar
  background: #004b4c

.navbar-nav
  font-weight: bold
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 1px
  text-align: right
  margin-right: 0

.big-note
  font-size: 60px
  text-align: right

tr.done, tr.done a
  color: #ccc
  text-decoration: line-through
tr.current
  background: black
  color: white

.large-number
  font-size: 60px
  line-height: 100%

.achievement
  margin-top: 40px
  .is-done 
    font-size: 40px
    .note
      margin-top: 14px
      font-size: 20px
    .checkmark
      margin-right: 10px
      float: left
  .text h2
    margin-top: 0

.correct
  color: green

.past
  text-decoration: line-through
  opacity: 0.5

footer
  border-top: 1px solid #ccc
  margin: 50px 0
  padding: 20px 0