<h1>Editing promotion</h1>
<%= link_to 'Show', @promotion, class: 'btn btn-default' %>
<%= link_to 'Destroy', @promotion, class: 'btn btn-warning', method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'form' %>

