<footer>
  <div class="inner">
    <div class="logo logo-black">
      <%= image_tag 'mmi-bordeaux.png' %>
      <p>Learn</p>
    </div>
    <p class="version">
      <strong>Version 2.0</strong><br/>
      Gris
    </p>
    <% if current_student %>
      <%= link_to('Déconnexion', destroy_student_session_path, method: :delete, class: 'btn btn-default btn-xs') %>
    <% end %>
  </div>
</footer>
