<%= title 'Cours' %>
<%= link_to 'Nouveau cours', new_admin_course_path, class: 'btn btn-default' %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Promotion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course, [:admin, course] %></td>
        <td><%= link_to course.promotion, [:admin, course.promotion] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

